<!DOCTYPE html>
<html>
<head>
    <style>
        body
        {
          background-color:pink;
        }
    </style>
</head>
<body>
<h1>E Pass Ticket Status</h1>
<h2>first name:{{f}}</h2>
<h2>last name:{{l}}</h2>
<h2>mobile no:{{phno}}</h2>
<h2>email id:{{mail}}</h2>
<h2>current state:{{cs}}</h2>
<h2>current place:{{place}}</h2>
<h2>destination state:{{des_s}}</h2>
<h2>destination place:{{destination}}</h2>
<h2>travelling date:{{md}}</h2>
<h2>returning date:{{cd}}</h2>
<h2>e pass Status:{{es}}</h2>
</body>
</html>